.register-infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .title-register {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .create-title {
    font-size: 22px;
    font-weight: bold;
  }
  
  .btn-success {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }