.search-tickers {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 300px;
  background-color: #23242f;
  border-radius: 10px;
  padding: 10px;
}

.search {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title-favs {
  font-weight: bold;
  color: white;
}
