body {
  background-color: black;
  font-family: "Trebuchet MS";
  text-align: center;
  color: #d1d4dc;
  padding-left: 10%;
  padding-right: 10%;
}

h1,
h2,
h3 {
  font-weight: 200;
}

h2,
h3 {
  margin: 0;
}

a {
  color: white !important;
}
